.postlanding{
    background: #f8f8f8;
    padding: 50px;
    text-align: center;
  
  }
  .postlanding_heading{
    font-size: 30px !important;
  font-weight: 600 !important;
  color: #373737 !important;
  }