#alert-info-msg{
    border-left: 5px solid #cff4fc;
    border-radius: 4px;

}

#alert-success-msg{
    border-left: 5px solid #d1e7de;
    border-radius: 4px;

}

#alert-error-msg{
    border-left: 5px solid #f8d7da;
    border-radius: 4px;
}